/*MAIN STYLES*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*GENERAL*/
body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: #19496d;
}
h2 {
  display: block;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  background: url(../imag/back/pattern.png) repeat-x center 9px !important;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #19496d;
}
h2 span {
  display: inline-block;
  padding: 5px 40px;
  background: #ffffff;
  letter-spacing: 3px;
}
h3 {
  display: block;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  background: url(../imag/back/pattern.png) repeat-x center 9px !important;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #19496d;
}
h3 span {
  display: inline-block;
  padding: 5px 15px;
  background: #e8e8e8;
}
h4 {
  color: #19496d;
}
a {
  color: #19496d;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  background: none;
  color: #d93189;
}
.cont-site {
  padding: 0;
}
.right {
  float: right;
}
.left {
  float: left;
}
/*HEADER*/
#header {
  width: 100%;
  position: fixed;
  z-index: 1500;
  font-size: 300;
  padding: 0;
  top: 0;
  font-family: 'Nunito', sans-serif;
}
#header .back-dropdown,
#header .back-dropdown-plus {
  position: absolute;
  width: 100%;
  padding: 20px;
  background: url(../imag/back/bg-header.png) repeat left top;
  top: 64px;
  left: 0;
  text-align: center;
}
#header #main-nav .back-dropdown ul,
#header #main-nav .back-dropdown-plus ul {
  margin: 0 0 0 50px;
}
#header #main-nav .back-dropdown li,
#header #main-nav .back-dropdown-plus li {
  display: block;
  padding-bottom: 10px;
  float: left;
}
#header #main-nav .back-dropdown li a,
#header #main-nav .back-dropdown-plus li a {
  padding: 0 !important;
}
#header #main-nav {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  background: url(../imag/back/bg-header.png) repeat left top;
  z-index: 10000;
  border: none !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
#header #main-nav a,
#header #main-nav a:focus,
#header #main-nav a:active,
#header #main-nav a:hover,
#header #main-nav object,
#header #main-nav embed {
  outline: none;
  text-decoration: none;
}
#header #main-nav :-moz-any-link:focus {
  outline: none;
}
#header #main-nav input::-moz-focus-inner {
  border: 0;
}
#header #main-nav :focus {
  outline: 0;
}
#header #main-nav ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  float: none;
}
#header #main-nav ul li {
  display: inline-block;
  list-style-type: none;
  color: #ffffff;
  text-transform: uppercase;
  float: none;
}
#header #main-nav ul li.home {
  display: none;
}
#header #main-nav ul li.home {
  width: auto;
  margin: 0;
  padding: 0;
}
#header #main-nav ul li.home a,
#header #main-nav ul li.home a:hover {
  background: url(../imag/logo/charco-sm.png) no-repeat center top;
  text-indent: -999em;
}
#header #main-nav ul li.border {
  border-bottom: 1px solid #ffffff;
}
#header #main-nav ul li a {
  display: inline-block;
  padding: 22px 33px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
#header #main-nav ul li.home.border {
  border: none !important;
}
#header #main-nav a:hover {
  color: #d93189;
  background: none;
}
#header #main-nav #form-contact {
  padding: 0 25px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
#header #main-nav .nav > li > a:hover,
#header #main-nav .nav > li > a:focus {
  background: none;
}
#header #main-nav .dropdown-menu {
  background: none;
  box-shadow: none;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}
#header #main-nav .dropdown-menu a {
  padding: 0 !important;
}
#header #main-nav .mega-menu {
  padding: 10px 0px !important;
  width: 1000px;
  border-radius: 0;
  margin-top: 0px;
}
#header #main-nav .mega-menu li {
  display: inline-block;
  float: left;
  font-size: 0.94rem;
  padding: 0px;
}
#header #main-nav .mega-menu .nav-header {
  padding: 0 !important;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
#header #main-nav .mega-menu img {
  padding-bottom: 10px;
}
#header #main-nav.affix {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}
#header #main-nav.affix li a {
  padding: 25px 25px;
}
#header #main-nav.affix li.home {
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}
#header #main-nav.affix li.home a {
  margin: 10px 0 0;
  padding: 0px 40px !important;
  height: 51px;
  float: left;
}
#header #main-nav.nav-interior ul li a {
  display: inline-block;
  padding: 25px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
#header #main-nav.nav-interior a:hover {
  color: #d93189;
  background: none;
}
#header #main-nav.nav-interior ul li.home {
  display: inline-block;
  margin: 0;
  padding: 0;
  visibility: visible;
  float: left;
}
#header #main-nav.nav-interior ul li.home a {
  margin: 10px 0 0;
  padding: 0px 40px !important;
  height: 51px;
  float: left;
}
#header #main-nav.nav-interior ul li.home a:hover {
  background: url(../imag/logo/charco-sm.png) no-repeat center top;
}
#header .cont-roster-menu {
  margin: 0 auto !important;
  float: none;
}
#header .cont-roster-menu figure {
  margin: 0;
  padding: 0;
  height: 100px;
  position: relative;
  display: block;
  overflow: hidden;
  border: 0;
}
#header .cont-roster-menu figure:hover figcaption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  top: 0;
}
#header .cont-roster-menu figure:hover figcaption p {
  margin: 28% 15px;
  text-transform: none;
  font-size: 12px;
  font-weight: 400;
}
#header .cont-roster-menu figcaption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(37, 72, 100, 0.7);
  color: #fff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
  -ms-transition-delay: .1s;
  transition-delay: .1s;
}
/*CONTENT*/
h2 {
  margin: 0 0 30px;
}
.cont-site {
  margin: 0;
  padding: 0;
  float: none;
  text-align: center;
  clear: both;
}
/*INT*/
.header-int {
  position: relative;
  display: block;
  margin: 0 0 80px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.5);
  z-index: 50;
  background: #000;
  text-align: center;
}
.header-int h1 {
  position: absolute;
  width: 100%;
  font-size: 40px;
  top: 90px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300;
}
.header-int img {
  margin: 0 auto;
}
/*SLIDER*/
#slider {
  margin: 0;
  position: relative;
}
#slider .item {
  text-align: center;
  background: #000000;
  min-height: 520px;
  max-height: 520px;
  overflow: hidden;
}
#slider .item img {
  margin: 0 auto;
}
.cont-logo-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 120px;
  z-index: 1000;
}
.cont-logo-header img {
  margin-left: 33px;
}
.carousel-indicators {
  bottom: -60px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  margin: 0 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #19496d;
}
.carousel-indicators li.active {
  background: #19496d;
}
/* Fade transition for carousel items */
.carousel .item {
  left: 0 !important;
  -webkit-transition: opacity 1s;
  /*adjust timing here */
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.carousel-control {
  background-image: none !important;
  /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
  opacity: 1;
  z-index: 1;
}
.active.left,
.active.right {
  opacity: 0;
  z-index: 2;
}
/*NEWS*/
#content-block {
  margin: 0 0 40px;
  padding: 35px 0 50px;
  float: none;
  clear: both;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  z-index: 50;
  background: #e8e8e8;
}
#content-block h3 {
  margin: 0 0 40px;
}
#content-block a {
  font-weight: 600;
}
#content-block a:hover {
  color: #d93189;
}
#content-block .item {
  margin: 0 0 20px;
  padding: 0 10px 0 0;
  border: 1px solid #19496d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: left;
  background: #ffffff;
}
#content-block .item .cont-item {
  padding-left: 25px;
}
#content-block .item h4 {
  margin-top: 22px;
  margin-bottom: 5px;
  color: #19496d;
  font-size: 19px;
}
#content-block .item h4 a {
  color: #19496d;
}
#content-block .item h4 a:hover {
  color: #d93189;
}
#content-block .item p {
  display: inline;
  font-size: 14px;
  line-height: 125%;
  color: #333333;
}
#content-block .item p a {
  display: inline;
  color: #19496d;
}
#content-block .item p a:hover {
  color: #d93189;
}
#content-block .item img {
  padding: 0;
}
#content-block .item .date {
  margin: 0 0 10px;
  font-size: 14px;
  font-style: italic;
}
#content-block .ver-mas {
  text-align: right;
}
#content-block .ver-mas a {
  font-weight: 600;
}
#content-block.common-site {
  margin: 0 !important;
  padding-top: 0;
}
.page-template-page-roster #content-block {
  padding-bottom: 0;
}
.page-template-page-contacto #content-block {
  padding-bottom: 0;
  background: #ffffff;
}
.page-template-page-news #content-block,
.page-template-page-eventos-php #content-block {
  margin: 0;
  background: #ffffff;
}
.page-template-page-eventos-php h4 {
  margin-top: 0;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.page-template-page-eventos-php .calendar h4 {
  margin: 0 0 27px;
}
#tribe-events-bar {
  display: none !important;
}
/*ROSTER*/
#roster {
  padding-top: 25px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  z-index: 100;
}
.cont-roster {
  margin: 0 0 50px;
}
.cont-roster .item-figure {
  width: 20%;
  display: inline-block;
}
.cont-roster div.clearfix {
  margin: 0;
  padding: 0;
}
.cont-roster .clearfix div {
  margin: 0;
  padding: 0;
  float: left;
}
.cont-roster .clearfix div img {
  width: 100%;
}
.cont-roster .item-figure.mix {
  display: none;
}
.cont-roster figure {
  margin: 0;
  padding: 0;
  height: 195px;
  position: relative;
  display: block;
  overflow: hidden;
  border: 0;
}
.cont-roster figure:hover figcaption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
  top: 0;
}
.cont-roster figcaption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(37, 72, 100, 0.7);
  color: #fff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
  -ms-transition-delay: .1s;
  transition-delay: .1s;
}
.cont-roster figure img {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
  -ms-transition-delay: .1s;
  transition-delay: .1s;
}
.cont-roster figure:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.cont-roster .logo {
  position: relative;
  display: block;
  height: 195px;
  text-align: center;
  vertical-align: middle;
}
.cont-roster .logo img {
  width: auto !important;
  max-width: 85% !important;
  max-height: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 180px;
  height: auto;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  transform: scale(1) !important;
}
.page-template-page-roster .cont-common {
  padding-bottom: 0;
}
.page-template-page-roster .cont-roster .item-figure.mix {
  float: left;
}
.page-template-page-roster .cont-roster .item-figure.mix img {
  width: 100%;
}
.page-template-page-roster .cont-roster .filter,
.page-template-page-roster .cont-roster span.sep {
  display: inline;
}
.page-template-page-roster .cont-roster span.sep {
  padding-right: 4px;
}
.page-template-page-roster .cont-roster .filter:hover {
  cursor: pointer;
  color: #d93189;
}
.page-template-page-roster .cont-roster .filter-button-group span.sep:last-child {
  display: none;
}
.page-template-page-roster .cont-roster .categories-list {
  margin: 0 0 30px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
}
/*ON TOUR*/
#ontour {
  display: block;
  -webkit-box-shadow: 0px 3px 5px -2px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 3px 5px -2px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 3px 5px -2px rgba(50, 50, 50, 0.5);
  z-index: 50;
}
#ontour h2 {
  margin: 0 0 50px;
}
#ontour h5 {
  margin: 0 15px;
  font-size: 26px;
  font-size: 400;
  font-family: 'Nunito', sans-serif;
  text-align: left;
  color: #19496d;
  text-align: center;
  letter-spacing: -1px;
}
#ontour img {
  width: 100%;
  height: 145px;
  z-index: 50;
}
#ontour .cont-ontour {
  padding: 0 0 50px;
}
#ontour .cont-fechas {
  padding: 30px 0px 40px;
}
#ontour .item-fechas {
  position: relative;
  width: 19%;
  margin: 0 10px 0 0;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #5f839d;
  font-family: 'Nunito', sans-serif;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  min-height: 426px;
  vertical-align: top;
}
#ontour .item-fechas:last-child {
  margin: 0;
}
#ontour .header-fechas {
  padding: 15px 10px 10px;
  background: #19496d;
  color: #ffffff;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
#ontour .header-fechas .top {
  color: #A9C2D5;
}
#ontour .tour-info {
  display: block;
  padding: 20px 10px 30px;
  background: #5f839d;
}
#ontour .city {
  margin: 0 0 15px;
  text-align: left;
}
#ontour .city p,
#ontour .venue p,
#ontour .time p {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
  line-height: 100%;
}
#ontour .date .top {
  color: #ffffff;
}
#ontour .date p {
  display: block;
  margin: 6px 0 0;
  font-size: 16px;
}
#ontour .address {
  font-size: 12px;
  color: #19496d;
}
#ontour .top {
  display: block;
  padding-bottom: 3px;
  font-size: 11px;
  text-transform: uppercase;
  color: #19496d;
  line-height: 100%;
}
#ontour .pull-left {
  width: 80%;
  text-align: left;
  font-size: 22px;
}
#ontour .pull-left p {
  margin: 0;
  line-height: 100%;
}
#ontour .pull-right {
  width: 20%;
  text-align: right;
}
#ontour .cost {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  -webkit-box-shadow: 0px -5px 5px -5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px -5px 5px -5px rgba(50, 50, 50, 0.5);
  box-shadow: 0px -5px 5px -5px rgba(50, 50, 50, 0.5);
  z-index: 50;
}
#ontour .cost .with-cost {
  padding: 15px 0;
  background: #2a343d;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}
#ontour .cost .with-cost a {
  color: #ffffff;
}
#ontour .cost .with-cost a:hover {
  color: #d93189;
}
#ontour .cost .free {
  padding: 15px 0;
  background: #d93189;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}
#ontour .ver-mas {
  text-align: right;
  font-weight: 600;
}
#ontour.sidebar {
  display: block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 50;
}
.calendar-img {
  position: relative;
  height: 145px;
  overflow: hidden;
  z-index: 50;
  -webkit-box-shadow: 0px 5px 7px -5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 5px 7px -5px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 5px 7px -5px rgba(50, 50, 50, 0.5);
}
.calendar-img img {
  position: absolute;
  width: auto !important;
  height: 145px !important;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.page-template-page-eventos-php #ontour .item-fechas {
  width: 100%;
  margin: 0 0 20px;
  height: auto;
  min-height: auto;
}
.tribe-events-button {
  display: none !important;
}
/*SIDEBAR*/
.playlist #outerWidgetContainer {
  width: 100% !important;
}
.redes-block {
  margin: 0 0 30px;
}
.stream li {
  width: 100%;
}
#dcsns-filter {
  display: none !important;
}
.wall-outer .dcsns-toolbar {
  margin-bottom: 0 !important;
}
/*INTERIOR*/
.single-artistas #cont-single {
  margin-top: 243px;
  padding-bottom: 0;
  top: auto;
  z-index: 60;
}
.single-artistas #footer {
  margin-top: 0;
}
.single-discografia #cont-single {
  margin: 0;
  top: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.main-disc {
  padding: 0 0 50px;
}
#cont-single {
  width: 100%;
  position: relative;
  top: 243px;
  padding: 60px 0 90px;
  background: #ffffff;
  z-index: 5;
  display: block;
  clear: both;
}
#cont-single h2 {
  margin: 0 0 30px;
}
#cont-single p {
  margin: 0 0 30px;
}
#cont-single .artist-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 200%;
  color: #000000;
}
#cont-single .artist-info {
  padding: 0 0 40px;
}
#cont-single .merch-list {
  margin: 0 0 40px;
  padding: 0;
}
#cont-single .main-image {
  padding: 8px 15px 8px 0;
}
#cont-single .bio {
  position: relative;
  -webkit-box-shadow: 0px 3px 5px -2px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 3px 5px -2px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 3px 5px -2px rgba(50, 50, 50, 0.5);
  z-index: 80;
}
#cont-single .merch-content {
  position: relative;
  padding: 40px 0;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  z-index: 50;
  background: #e8e8e8;
}
#cont-single .disco-list {
  margin: 0 0 30px;
}
#cont-single .item-disco {
  margin: 0 0 40px;
  text-align: center !important;
  height: 255px;
}
#cont-single .item-disco h4 {
  margin: 0 0 5px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}
#cont-single .item-disco img {
  margin: 0 auto 15px;
}
#cont-single .item-disco .year {
  font-size: 16px;
  color: #19496d;
}
#cont-single .play {
  margin: 15px 0;
  text-align: center;
}
#cont-single .social {
  margin: 20px 0 0;
}
#cont-single .cont-bookers {
  position: relative;
  display: block;
  padding: 40px 0 60px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  z-index: 40;
}
#cont-single .cont-bookers .space {
  display: inline-block;
  text-align: left;
  float: none !important;
  vertical-align: top;
}
#cont-single .cont-bookers .space h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
#cont-single .cont-bookers .space .email {
  color: #19496d;
  font-weight: 600;
}
#cont-single .cont-bookers .book-image {
  padding-left: 0;
}
#cont-single .cont-bookers .book-image img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#cont-single .cont-bookers .container {
  margin-bottom: -10px;
  padding-top: 0px;
}
#cont-single .fechas-tour {
  padding: 0 15px;
  text-align: center;
}
#cont-single .fechas-tour h5 {
  margin: 0 15px;
  font-size: 26px;
  font-size: 400;
  font-family: 'Nunito', sans-serif;
  text-align: left;
  color: #19496d;
  text-align: center;
  letter-spacing: -1px;
}
#cont-single .fechas-tour .cont-ontour {
  padding: 0 0 100px;
}
#cont-single .fechas-tour .cont-fechas {
  padding: 30px 0px 40px;
}
#cont-single .fechas-tour .item-fechas {
  width: 20%;
  margin: 0 10px 0 0;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #5f839d;
  font-family: 'Nunito', sans-serif;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
#cont-single .fechas-tour .header-fechas {
  padding: 15px 10px 10px;
  background: #19496d;
  color: #ffffff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  height: 187px;
  vertical-align: top;
}
#cont-single .fechas-tour .header-fechas .top {
  color: #A9C2D5;
}
#cont-single .fechas-tour .city {
  margin: 0 0 15px;
  text-align: left;
}
#cont-single .fechas-tour .city p,
#cont-single .fechas-tour .venue p,
#cont-single .fechas-tour .time p {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}
#cont-single .fechas-tour .date .top {
  color: #ffffff;
}
#cont-single .fechas-tour .date p {
  display: block;
  margin: 6px 0 0;
  font-size: 16px;
}
#cont-single .fechas-tour .address {
  font-size: 12px;
  color: #A9C2D5;
}
#cont-single .fechas-tour .top {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  color: #A9C2D5;
  line-height: 100%;
}
#cont-single .fechas-tour .pull-left {
  width: 80%;
  text-align: left;
  font-size: 22px;
}
#cont-single .fechas-tour .pull-left p {
  margin: 0;
}
#cont-single .fechas-tour .pull-right {
  width: 20%;
  text-align: right;
}
#cont-single .fechas-tour .next-data {
  margin: 30px 0 0;
}
#cont-single .social-item {
  display: inline-block;
  margin: 0 10px 10px 0;
}
#cont-single .social-item a {
  display: inline-block;
  width: 52px;
  height: 46px;
  font-family: 'Nunito', sans-serif;
  line-height: 400%;
}
#cont-single .social-item a:hover {
  opacity: .5;
}
#cont-single .social-item.facebook {
  background: url(../imag/icon/facebook-social.png) no-repeat left top;
}
#cont-single .social-item.instagram {
  background: url(../imag/icon/instagram-social.png) no-repeat left top;
}
#cont-single .social-item.web {
  background: url(../imag/icon/web-social.png) no-repeat left top;
}
#cont-single .social-item.youtube {
  background: url(../imag/icon/youtube-social.png) no-repeat left top;
}
#cont-single .social-item.twitter {
  background: url(../imag/icon/twitter-social.png) no-repeat left top;
}
#cont-single .social-item.soundcloud {
  background: url(../imag/icon/sound-social.png) no-repeat left top;
}
#cont-single .social-item.spotify {
  background: url(../imag/icon/spotify-social.png) no-repeat left top;
}
.main-product {
  margin: 0 0 40px;
}
.item-prod {
  margin: 0 0 25px;
}
.item-prod .prod-image {
  padding-left: 0;
}
.item-prod .prod-image img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #19496d;
}
.item-prod h5 {
  margin: 0 0 20px;
  font-size: 16px;
  text-align: left;
}
.item-prod h5 a {
  font-weight: 400 !important;
}
.cont-info-artist {
  position: relative;
}
#banner {
  width: 100%;
  height: 275px;
  position: fixed;
  top: 0px;
  background: url(../imag/back/back-banner.jpg) repeat-x center top #000000;
  text-align: center;
}
#banner .logo {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0;
  left: 0;
  top: 70px;
  right: 0;
  bottom: 0;
  text-align: center;
  height: 205px;
  vertical-align: middle;
}
#banner .logo img {
  position: absolute;
  margin: auto;
  max-height: 80%;
  max-width: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cont-common {
  position: relative;
  display: block;
  margin-top: -80px;
  padding: 40px 0;
  background: #ffffff;
  z-index: 0;
}
.cont-common h3 {
  text-align: center;
}
.cont-common h3 span {
  max-width: 700px;
  background: #ffffff;
}
.center-content {
  margin: 0 auto;
  text-align: center;
  float: none !important;
}
.center-content p {
  margin: 0 0 30px;
}
.cont-image {
  margin: 0 0 40px;
  text-align: center;
}
.cont-image img {
  margin: 0 auto;
}
/*NEWS*/
h3.single-title {
  background: none !important;
  text-align: left;
  margin: 5px 0 40px;
  font-size: 28px;
}
.main-single-image img {
  width: 100%;
}
#cont-single.cont-news-detail {
  padding-bottom: 0;
}
/*MERCH*/
.page-template-page-merch #content-block {
  margin-bottom: 0;
  padding-bottom: 0;
  box-shadow: none;
}
.page-template-page-merch .cont-common {
  padding-bottom: 0;
}
.page-template-page-merch .featured-merch {
  padding-bottom: 90px;
}
.page-template-page-merch .cont-merch .cont-button button {
  float: right !important;
  margin: 0;
}
.page-template-page-merch .disco-list .cont-button {
  width: 100% !important;
  text-align: center !important;
}
.page-template-page-merch .cont-button button {
  margin: 15px auto 0;
}
.featured-merch .item {
  position: relative;
  border: none !important;
}
.featured-merch .item h2 {
  font-size: 22px;
  text-align: left;
  background: none !important;
  text-shadow: none;
  font-family: 'Open Sans', sans-serif;
}
.featured-merch .item h2 a {
  color: #19496d;
  font-weight: 400;
  text-transform: none;
}
.featured-merch .item h2 a:hover {
  color: #d93189;
}
.featured-merch .carousel-caption {
  position: relative;
  margin: 0;
  right: auto;
  left: auto;
}
.featured-merch .carousel-control.left,
.featured-merch .carousel-control.right {
  background: none;
}
.featured-merch .main-image {
  text-align: center;
}
.featured-merch .main-image img {
  margin: 0 auto;
}
.merch-content {
  padding: 40px 0;
  background: #e8e8e8;
  -webkit-box-shadow: inset 0px 5px 7px -4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 5px 7px -4px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 5px 7px -4px rgba(50, 50, 50, 0.75);
  z-index: 50;
}
.merch-content h2 span {
  background: #e8e8e8;
}
.merch-content .price {
  width: auto;
  margin: 3px 0 0;
  float: left;
  font-size: 20px;
  letter-spacing: 3px;
  font-family: 'Nunito', sans-serif;
}
.merch-content .cont-button {
  width: auto;
  float: right;
}
.merch-content .cont-button button {
  padding: 6px 10px;
  font-size: 16px;
  background: #2a343d;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
}
.merch-content .cont-button button:hover {
  background: #d93189;
}
.merch-content .tour {
  display: block;
  padding: 0;
}
.merch-content .disco-list {
  padding-left: 0;
}
.merch-content .merch-list {
  padding-right: 0;
}
.disco-list .price {
  width: 100%;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
.merch-disco {
  height: 390px;
}
.merch-disco h4 {
  font-weight: 400;
}
.merch-disco h4 a:hover {
  color: #d93189;
}
.merch-disco .disco-img {
  margin-bottom: 20px;
}
.merch-disco .price {
  font-family: 'Nunito', sans-serif;
}
.merch-disco .amount {
  font-size: 27px;
  color: #19496d;
}
.merch-disco .cont-button button {
  padding: 6px 10px;
  font-size: 16px;
  background: #2a343d;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
}
/*TEAM*/
.about-us {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.5);
  z-index: 40;
}
.cont-team {
  padding: 40px 0 0px;
}
.cont-team h2 span {
  background: #e8e8e8;
}
.cont-team ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cont-team ul li {
  margin-bottom: 15px;
  list-style-type: none;
}
.cont-team figure {
  margin: 0;
  padding: 0;
  height: 280px;
  position: relative;
  display: block;
  overflow: hidden;
  border: 0;
}
.cont-team figure:hover figcaption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
  top: 0;
}
.cont-team figcaption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(37, 72, 100, 0.7);
  color: #fff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
  -ms-transition-delay: .1s;
  transition-delay: .1s;
}
.cont-team figure img {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
  -ms-transition-delay: .1s;
  transition-delay: .1s;
}
/*CONTACT*/
.cont-form {
  padding-bottom: 70px;
}
.cont-form .separa {
  margin: 0 0 20px;
}
.cont-form label {
  width: 100%;
  padding: 0 0 5px;
  text-align: left;
}
.cont-form input[type="text"],
.cont-form input[type="email"],
.cont-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5f839d;
}
.cont-form textarea {
  height: 230px;
}
.cont-form input[type="submit"] {
  padding: 10px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  background: #d93189;
  float: left;
  font-family: 'Nunito', sans-serif;
  border: none;
}
.cont-form input[type="submit"]:hover {
  background: #5f839d;
}
.cont-form .first-div {
  padding-right: 20px;
}
.cont-form .last-div {
  padding-left: 20px;
}
/*AUXI*/
.topbutton {
  height: 40px;
  width: 40px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1000;
  background: url(../imag/icon/uparrow-white.png) no-repeat center top;
  display: none;
}
.topbutton:hover {
  opacity: .7;
}
/*WOOCOMERCE*/
.cont-product-detail .images {
  width: 35% !important;
}
.cont-product-detail .images img {
  margin-top: 6px;
}
.cont-product-detail .entry-summary {
  width: 60% !important;
}
.cont-product-detail .entry-summary p {
  line-height: 200%;
}
.woocommerce-cart #content-block {
  padding-bottom: 0;
}
.woocommerce-cart .cont-common {
  position: relative;
  display: block;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  z-index: 60;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  width: 40% !important;
}
.woocommerce-cart .cart-collaterals .cart_totals table {
  width: 100%;
}
/*CARRO*/
.cart_totals {
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5f839d;
}
.cart_totals h2 {
  margin: 0 0 30px;
  font-size: 28px;
  background: none !important;
}
/*NEWSLETTER*/
.cont-newsletter {
  position: relative;
  padding: 40px 0 45px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  z-index: 40;
  background: #19496d;
}
.cont-newsletter h2 {
  background: none !important;
}
.cont-newsletter h2 span {
  color: #ffffff;
  padding: 5px 20px;
  background: #19496d;
}
.cont-newsletter h4 {
  margin: -20px 0 15px;
  color: #ffffff;
}
.cont-newsletter input[type="text"] {
  width: 300px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}
.cont-newsletter input[type="submit"] {
  padding: 12px 20px 11px;
  color: #ffffff;
  background: #d93189;
  font-family: 'Nunito', sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}
.cont-newsletter input[type="submit"]:hover {
  background: #5f839d;
}
/*FOOTER*/
#footer {
  position: relative;
  display: block;
  width: 100%;
  height: 670px;
  background: url(../imag/back/bg-footer-dark.png) no-repeat center top #000000;
  clear: both;
}
#footer .top-foot {
  padding: 60px 0;
}
#footer .top-foot h3 {
  color: #ffffff;
  font-size: 27px;
  background: none !important;
  letter-spacing: 4px;
}
#footer .middle-foot {
  padding: 0 0 60px;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
#footer .middle-foot img {
  margin: 0 auto;
}
#footer .partners-foot {
  height: 230px;
}
#footer .partners-foot h3 {
  color: #ffffff;
  font-size: 28px;
  background: none !important;
}
#footer .partners-foot ul {
  margin: 15px auto 0;
  float: none;
}
#footer .partners-foot ul li {
  list-style-type: none;
  text-align: center;
}
#footer .partners-foot ul li img {
  margin: 0 auto;
  float: none;
}
#footer .bottom-foot {
  padding: 0px 15px;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  font-size: 20px;
}
#footer .bottom-foot address {
  padding: 0;
  font-size: 18px;
}
#footer .bottom-foot address span {
  font-weight: 300;
  font-size: 17px;
  line-height: 200%;
}
#footer .bottom-foot .social ul li {
  display: inline-block;
  margin: 0 0 0 10px;
  line-height: 200%;
  font-size: 18px;
}
#footer .bottom-foot .social ul li a.ico_redes {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -999em;
}
#footer .bottom-foot .social ul li a.ico_redes:hover {
  opacity: .6;
}
#footer .bottom-foot .social ul li a.ico_facebook {
  background: url(../imag/icon/facebook-icon-foot.png) no-repeat left top;
}
#footer .bottom-foot .social ul li a.ico_twitter {
  background: url(../imag/icon/twitter-icon-foot.png) no-repeat left top;
}
#footer .bottom-foot .social ul li a.ico_youtube {
  background: url(../imag/icon/youtube-icon-foot.png) no-repeat left top;
}
#footer .bottom-foot .social ul li a.ico_instagram {
  background: url(../imag/icon/instragram-icon-foot.png) no-repeat left top;
}
.top-margin {
  margin-top: 230px;
}
/* Media
------------------------------------------------------------------*/
@media (min-width: 1200px) and (max-width: 1400px) {
  .mobile-eventos,
  .slider-mobile,
  .mobile-image,
  .redes-mobile,
  #mobile-nav,
  .disco-mobile {
    display: none !important;
  }
  #slider .item {
    min-height: 490px;
    max-height: 490px;
  }
  .cont-roster .item-figure {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .mobile-eventos,
  .slider-mobile,
  .mobile-image,
  .redes-mobile,
  #mobile-nav,
  .disco-mobile {
    display: none !important;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  #slider .item {
    min-height: 390px;
    max-height: 390px;
  }
  .mobile-eventos,
  .slider-mobile,
  .mobile-image,
  .redes-mobile,
  #mobile-nav,
  .disco-mobile {
    display: none !important;
  }
  .container {
    width: 95%;
  }
  .cont-roster .item-figure {
    width: 25%;
  }
  .cont-roster figure {
    max-height: 158px;
  }
  .cont-roster .logo img {
    max-height: 65%;
    top: -32px;
  }
  #content-block .item h4 {
    margin-top: 15px;
    font-size: 17px;
  }
  #content-block .item .date {
    font-size: 13px;
  }
  #content-block .item p,
  #content-block .item .excerpt a {
    font-size: 12.5px;
    line-height: 115%;
    float: left;
  }
  #header #main-nav ul li a {
    padding: 25px 22px;
  }
  #header #main-nav.affix li a {
    padding: 25px 17px;
  }
  .cont-logo-header img {
    max-width: 120px;
  }
  .dcwss.dc-wall .stream li,
  .dcwss.dc-wall.col-4 .stream li {
    width: 285px !important;
  }
  #ontour .pull-left {
    font-size: 15px;
  }
  .calendar-img,
  .calendar-img img {
    height: 100px !important;
  }
  #ontour .city p,
  #ontour .venue p,
  #ontour .time p {
    font-size: 14px;
  }
  #ontour .item-fechas {
    height: 385px;
  }
  #ontour .cost {
    font-size: 15px;
  }
  #footer .container {
    padding: 0;
  }
  #footer .bottom-foot {
    padding: 0;
  }
  #footer .bottom-foot address {
    font-size: 16px;
  }
  #footer .bottom-foot .social ul li {
    margin-left: 5px;
    font-size: 17px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    padding: 0;
  }
  #mobile-nav {
    margin-top: 50px;
    min-height: 100%;
    background: none !important;
    background: url(../imag/back/bg-header.png) repeat left top !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  #mobile-nav .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  #mobile-nav .back-dropdown {
    background: none !important;
  }
  #mobile-nav li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0px;
    border-bottom: 1px dashed #ffffff;
    background-color: none !important;
  }
  #mobile-nav li a {
    margin: 0 20px;
    color: #ffffff;
    text-transform: uppercase;
  }
  #mobile-nav li li {
    width: 25% !important;
    list-style-type: none;
    text-align: center;
    padding: 0;
    border: none;
  }
  #mobile-nav li li a {
    margin: 0;
    text-transform: none !important;
  }
  #header {
    height: 50px;
    background: url(../imag/back/bg-header.png) repeat left top;
  }
  #header #main-nav {
    display: none !important;
  }
  #header .back-dropdown,
  #header .back-dropdown-plus {
    position: relative;
    margin: 0 auto;
    top: auto;
    left: auto;
    border: none;
  }
  #header .back-dropdown figure {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    float: none;
  }
  #header .back-dropdown figure img.mobile-image {
    display: block !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
  #header .back-dropdown .item-figure {
    margin: 0px;
    height: 105px;
  }
  #header .back-dropdown .menu-title {
    margin: 3px 0 0;
    line-height: 90%;
    font-size: 12px;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    text-align: center;
  }
  #header .back-dropdown .menu-title a {
    color: #ffffff;
  }
  .cont-logo-header img {
    max-width: 120px;
  }
  .navbar-toggle {
    display: block;
    float: left !important;
  }
  .navbar-toggle .icon-bar {
    background: #ffffff;
  }
  #slider .item {
    min-height: 300px;
    max-height: 300px;
  }
  #slider .item img {
    max-height: 300px;
    min-height: 300px;
  }
  h2 span,
  h3 span,
  .cont-common h3 span {
    max-width: 500px;
    font-size: 24px;
    padding: 5px 10px;
    line-height: 140%;
  }
  #cont-single p {
    font-size: 13px;
    line-height: 140%;
  }
  #ontour .item-fechas {
    width: 40%;
  }
  .cont-roster .item-figure {
    width: 25%;
  }
  .cont-roster figure {
    max-height: 150px;
  }
  .cont-roster .logo img {
    max-height: 65%;
    top: -32px;
  }
  .merch-content .cont-button {
    width: 100%;
    padding: 10px 0 0;
  }
  .merch-content .cont-button button {
    width: 100%;
  }
  .item-prod h5 {
    margin: 0 0 15px;
  }
  .item-prod h5 a {
    font-weight: 400;
  }
  .mobile-eventos,
  .slider-mobile,
  .mobile-image,
  .redes-mobile,
  .disco-mobile {
    display: none !important;
  }
  #content-block h3 {
    margin: 0 0 20px;
  }
  #content-block .item {
    margin-bottom: 15px;
  }
  #content-block .item .cont-image-item,
  #content-block .item .excerpt {
    display: none;
  }
  #content-block .ver-mas {
    margin-bottom: 40px;
    font-size: 12px;
    text-align: center;
  }
  .dcwss.dc-wall .stream li,
  .dcwss.dc-wall.col-4 .stream li {
    width: 210px !important;
  }
  .cont-newsletter {
    padding: 30px 0 40px;
  }
  #footer {
    height: 760px;
  }
  #footer .bottom-foot address,
  #footer .social {
    text-align: center;
  }
  #footer ul {
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 580px) and (max-width: 767px) {
  .container {
    padding: 0;
  }
  #mobile-nav {
    margin-top: 50px;
    min-height: 100%;
    background: none !important;
    background: url(../imag/back/bg-header.png) repeat left top !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  #mobile-nav .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  #mobile-nav .back-dropdown {
    background: none !important;
  }
  #mobile-nav li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0px;
    border-bottom: 1px dashed #ffffff;
    background-color: none !important;
  }
  #mobile-nav li a {
    margin: 0 20px;
    color: #ffffff;
    text-transform: uppercase;
  }
  #mobile-nav li li {
    width: 25% !important;
    list-style-type: none;
    text-align: center;
    padding: 0;
    border: none;
  }
  #mobile-nav li li a {
    margin: 0;
    text-transform: none !important;
  }
  #header {
    height: 50px;
    background: url(../imag/back/bg-header.png) repeat left top;
  }
  #header #main-nav {
    display: none !important;
  }
  #header .back-dropdown,
  #header .back-dropdown-plus {
    position: relative;
    margin: 0 auto;
    top: auto;
    left: auto;
    border: none;
  }
  #header .back-dropdown figure {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    float: none;
  }
  #header .back-dropdown figure img.mobile-image {
    display: block !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
  #header .back-dropdown .item-figure {
    margin: 0px;
    height: 105px;
  }
  #header .back-dropdown .menu-title {
    margin: 3px 0 0;
    line-height: 90%;
    font-size: 12px;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    text-align: center;
  }
  #header .back-dropdown .menu-title a {
    color: #ffffff;
  }
  .navbar-toggle {
    display: block;
    float: left !important;
  }
  .navbar-toggle .icon-bar {
    background: #ffffff;
  }
  #slider .item {
    min-height: 240px;
    max-height: 240px;
  }
  .cont-logo-header {
    top: 100px;
  }
  .cont-logo-header img {
    max-width: 100px;
  }
  .cont-roster .item-figure {
    width: 33%;
  }
  .cont-roster figure {
    max-height: 157px;
  }
  .cont-roster .logo img {
    max-height: 65%;
    top: -32px;
  }
  .mobile-eventos,
  .slider-mobile,
  .redes-mobile,
  .cont-playlist,
  .disco-mobile {
    display: none !important;
  }
  #banner .logo img {
    max-height: 70px;
    top: -35px;
  }
  #ontour .item-fechas {
    width: 45%;
  }
  #cont-single .main-image {
    margin-bottom: 30px;
    padding-left: 15px;
  }
  #cont-single .item-disco {
    width: 33%;
  }
  #cont-single .item-disco h4 {
    font-size: 16px;
  }
  #cont-single .fechas-tour .item-fechas {
    width: 48%;
  }
  #cont-single .cont-bookers .space {
    width: 45%;
  }
  .products {
    padding: 0 15px;
  }
  .main-product {
    padding-bottom: 0;
  }
  .item-prod {
    width: 33%;
    float: left;
    height: 320px;
  }
  .social-item {
    width: 48%;
    margin-left: 20px;
  }
  #content-block h3 {
    margin: 0 0 20px;
  }
  #content-block .item {
    margin-bottom: 15px;
  }
  #content-block .item .cont-image-item,
  #content-block .item .excerpt {
    display: none;
  }
  #content-block .ver-mas {
    margin-bottom: 40px;
    font-size: 12px;
    text-align: center;
  }
  .cont-roster figure {
    height: 195px;
  }
  #footer {
    height: 760px;
  }
  #footer .bottom-foot address {
    line-height: 120%;
  }
  #footer .bottom-foot address,
  #footer .social {
    text-align: center;
  }
  #footer .bottom-foot address,
  #footer .bottom-foot address span {
    font-size: 15px;
  }
  #footer ul {
    margin: 0 auto;
    padding: 0;
  }
  #footer .partners-foot {
    height: 210px;
  }
  #footer .partners-foot ul li {
    width: 33%;
  }
}
@media (min-width: 479px) and (max-width: 579px) {
  .desktop-eventos,
  .slider-desktop,
  .redes-desktop,
  .cont-playlist,
  .disco-desktop {
    display: none !important;
  }
  #header #main-nav {
    display: none !important;
  }
  .cont-roster .item-figure {
    width: 100%;
  }
  .cont-roster figure {
    max-height: 157px;
  }
  .center-content p {
    margin: 0 0 25px;
    font-size: 12px;
  }
  #content-block h3 {
    margin: 0 0 20px;
  }
  #content-block .item {
    margin-bottom: 15px;
  }
  #content-block .item .cont-image-item,
  #content-block .item .excerpt {
    display: none;
  }
  #content-block .ver-mas {
    margin-bottom: 40px;
    font-size: 12px;
    text-align: center;
  }
  .redes-mobile ul {
    margin: 0;
    padding: 0;
  }
  .redes-mobile ul li {
    display: inline-block;
    margin: 0 10px;
    list-style-type: none;
  }
  .redes-mobile ul li a.ico_redes {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: -999em;
  }
  .redes-mobile ul li a.ico_facebook {
    background: url(../imag/icon/facebook-icon.png) no-repeat left top;
  }
  .redes-mobile ul li a.ico_twitter {
    background: url(../imag/icon/twitter-icon.png) no-repeat left top;
  }
  .redes-mobile ul li a.ico_youtube {
    background: url(../imag/icon/youtube-icon.png) no-repeat left top;
  }
  .redes-mobile ul li a.ico_instagram {
    background: url(../imag/icon/instagram-icon.png) no-repeat left top;
  }
  .redes-mobile ul li a.ico_spotify {
    background: url(../imag/icon/spotify-icon.png) no-repeat left top;
  }
  .redes-mobile ul li a:hover {
    opacity: .5;
  }
}
@media (max-width: 478px) {
  .desktop-eventos,
  .slider-desktop,
  .redes-desktop,
  .cont-playlist,
  .disco-desktop {
    display: none !important;
  }
  #mobile-nav {
    margin-top: 50px;
    min-height: 100%;
    background: none !important;
    background: url(../imag/back/bg-header.png) repeat left top !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  #mobile-nav .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  #mobile-nav .back-dropdown {
    background: none !important;
  }
  #mobile-nav li {
    margin: 0;
    padding: 0px;
    border-bottom: 1px dashed #ffffff;
  }
  #mobile-nav li a {
    margin: 0 20px;
    color: #ffffff;
    text-transform: uppercase;
  }
  #mobile-nav li li {
    list-style-type: none;
    text-align: center;
    padding: 0;
    border: none;
  }
  #mobile-nav li li a {
    margin: 0;
    text-transform: none !important;
  }
  #header {
    height: 50px;
    background: url(../imag/back/bg-header.png) repeat left top;
  }
  #header #main-nav {
    display: none !important;
  }
  #header .back-dropdown,
  #header .back-dropdown-plus {
    position: relative;
    margin: 0 auto;
    top: auto;
    left: auto;
    border: none;
  }
  #header .back-dropdown figure {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    float: none;
  }
  #header .back-dropdown figure img.mobile-image {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
  #header .back-dropdown .item-figure {
    margin: 0px;
    height: 105px;
  }
  #header .back-dropdown .menu-title {
    margin: 3px 0 0;
    line-height: 90%;
    font-size: 12px;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    text-align: center;
  }
  #header .back-dropdown .menu-title a {
    color: #ffffff;
  }
  .navbar-toggle {
    float: left !important;
  }
  .navbar-toggle .icon-bar {
    background: #ffffff;
  }
  #slider .item img {
    min-height: 500px;
    max-height: 500px;
  }
  .cont-logo-header img {
    max-width: 110px;
    margin: 120px auto 0;
    float: none;
  }
  .cont-roster .item-figure {
    width: 33%;
  }
  h2 span,
  h3 span,
  .cont-common h3 span {
    max-width: 250px;
    font-size: 18px;
    padding: 10px;
  }
  .center-content p {
    margin: 0 0 25px;
    font-size: 12px;
  }
  .merch-content .disco-list {
    padding-left: 15px;
    padding-right: 15px;
  }
  #content-block {
    margin-bottom: 40px;
    padding: 40px 0;
  }
  #content-block h3 {
    margin: 0 0 20px;
  }
  #content-block .item {
    margin-bottom: 10px;
  }
  #content-block .item h4 {
    margin-top: 8px;
    line-height: 80%;
  }
  #content-block .item h4 a {
    font-size: 13px;
    font-weight: 400;
    line-height: 120%;
  }
  #content-block .item .date {
    font-size: 9px;
  }
  #content-block .item .cont-image-item,
  #content-block .item .excerpt {
    display: none;
  }
  #content-block .ver-mas {
    margin-bottom: 40px;
    font-size: 12px;
    text-align: center;
  }
  #roster h2 {
    margin-bottom: 30px;
  }
  #roster .desktop-image {
    display: none;
  }
  #roster .cont-roster figure {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    float: none;
  }
  #roster .cont-roster figure img.mobile-image,
  #roster .cont-roster figcaption {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
  #roster .item-figure {
    margin: 0 0 30px;
  }
  #ontour .cont-ontour {
    padding-bottom: 40px;
  }
  #ontour .cont-fechas {
    position: relative;
    padding: 20px 0px 40px;
  }
  #ontour .item-fechas {
    width: 100%;
  }
  #ontour h2 {
    margin: 0;
  }
  #ontour h5,
  #ontour img {
    display: none;
  }
  #ontour .ver-mas {
    text-align: center;
  }
  #ontour .top {
    font-size: 8px;
  }
  .swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div.swiper-slide {
    float: left;
    width: 100%;
    padding: 0 20px;
    position: relative;
  }
  #cont-single {
    padding-top: 30px;
  }
  #cont-single h2 {
    margin-bottom: 30px;
  }
  #cont-single p {
    margin: 0 0 25px;
    font-size: 13px;
    line-height: 180%;
  }
  #cont-single .artist-info {
    margin-bottom: 40px;
  }
  #cont-single .merch-content {
    padding: 40px 0;
  }
  #cont-single .merch-content .tour {
    padding: 0 15px;
  }
  #cont-single .main-image {
    margin-bottom: 25px;
    padding: 8px 15px;
  }
  #cont-single .fechas-tour {
    margin-bottom: 40px;
    padding: 0;
  }
  #cont-single .fechas-tour .item-fechas {
    width: 100%;
  }
  #cont-single .disco-list {
    padding: 0;
  }
  #cont-single .merch-list {
    margin: 0;
  }
  .redes-mobile ul {
    margin: 0;
    padding: 0;
  }
  .redes-mobile ul li {
    display: inline-block;
    margin: 0 10px;
    list-style-type: none;
  }
  .redes-mobile ul li a.ico_redes {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: -999em;
    list-style-type: none;
  }
  .redes-mobile ul li a.ico_facebook {
    background: url(../imag/icon/facebook-icon.png) no-repeat left top;
  }
  .redes-mobile ul li a.ico_twitter {
    background: url(../imag/icon/twitter-icon.png) no-repeat left top;
  }
  .redes-mobile ul li a.ico_youtube {
    background: url(../imag/icon/youtube-icon.png) no-repeat left top;
  }
  .redes-mobile ul li a.ico_instagram {
    background: url(../imag/icon/instagram-icon.png) no-repeat left top;
  }
  .redes-mobile ul li a.ico_spotify {
    background: url(../imag/icon/spotify-icon.png) no-repeat left top;
  }
  .redes-mobile ul li a:hover {
    opacity: .5;
  }
  .cont-slider-nav {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    z-index: 1000;
  }
  .cont-slider-nav .prev {
    display: block;
    width: 13px;
    height: 27px;
    background: url(../imag/auxi/arrow-left.png);
    float: left;
    border: none;
  }
  .cont-slider-nav .next {
    display: block;
    width: 13px;
    height: 27px;
    background: url(../imag/auxi/arrow-right.png);
    float: right;
    border: none;
  }
  #footer .top-foot h3 {
    font-size: 17px;
  }
}
